.Wheel,
body {
  background: linear-gradient(to left, rgb(212 142 142), rgb(187 187 255));
  font-family: "Happy Monkey";
  /* background: linear-gradient(to left, rgb(138, 52, 52), rgb(97, 97, 199)); */
  /* background-image: url(
      "https://img.freepik.com/free-vector/background-seamless-pattern-vector-with-cute-memphis_53876-105506.jpg?t=st=1651568714~exp=1651569314~hmac=48d3518156d3f1f235fe7e9a69ea5fd042d7846e2ff2a6e2cd3eb69d8289330f&w=1380"
    ); */
}

.App {
  font-family: "Happy Money", sans-serif;
  text-align: center;
}

/* button {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 5px;
} */

/* #spin,
#reset {
  position: absolute;
  bottom: 20vh;
  right: 45vw;
} */

/* #spin:hover {
  color: rgb(0, 180, 120);
  border-color: rgb(0, 180, 120);
} */

/* #spin:focus,
#reset:focus {
  outline: none;
} */

/* #reset {
    position: absolute;
    bottom: 20vh;
    right: 35vw;
  } */

/* #reset:hover {
  color: red;
  border-color: red;
} */

/* #readout {
  position: absolute;
  bottom: 7vh;
  left: 35vw;
} */

#selector {
  position: absolute;
  top: 22vh;
  right: 47.5vw;
  font-size: 60px;
  z-index: 3;
  color: rgb(0, 180, 120);
}

#result {
  font-size: 50px;
  color: rgb(0, 180, 120);
  font-family: "Happy Monkey";
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
}
